<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Item</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div style="margin: 15px;">
            <h2>Add new item</h2>
            <form method="POST" th:action="@{/add_item}" th:object="${new_item}">
                <p>
                    Name: <input type="text" name="name" placeholder="Name" th:field="*{name}"/>
                    <span th:errors="*{name}">name error</span>
                </p>
                <p>
                    Description: <input type="text" name="description" placeholder="Description" th:field="*{description}"/>
                    <span th:errors="*{description}">name error</span>
                </p>
                <p>
                    Price: <input type="text" name="price" placeholder="Price" th:field="*{itemDetails.price}"/>
                </p>
                Shop: <select th:field="*{shopId}">
                    <th:block th:each="shop : ${shops}">
                        <option th:value="${shop.id}" th:text="${shop.name}"></option>
                    </th:block>
                </select><br/>
                <input type="submit" value="Add"/>
            </form>
        </div>
        <a th:href="@{/items}">Back</a>
    </body>
</html>
