<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Items</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>Items</div>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>Open</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody th:each="item, stat : ${items}">
                <tr>
                    <td th:text="${item.id}">0</td>
                    <td th:text="${item.name}">Item 0</td>
                    <td th:text="${item.description}">Description 0</td>
                    <td th:text="${item.itemDetails.price}">Price 0</td>
                    <td><form method="GET" th:action="@{/items/{id}/(id=${item.id})}"><input type="submit" value="Open"/></form></td>
                    <td><form method="GET" th:action="@{/items/{id}/remove(id=${item.id})}"><input type="submit" value="Delete"/></form></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/add_item}">Add item</a>
        <a th:href="@{/}">Back</a>
    </body>
</html>
