<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>Login</div>
        <th:block th:if="${param.error}">
            <p>Username or password has error</p>
        </th:block>
        <th:block th:if="${param.logout}">
            <p>You are logout</p>
        </th:block>
        <form method="POST" th:action="@{/login}">
            <input type="text" name="username"/><br/>
            <input type="password" name="password"/><br/>
            <input type="submit" value="Login"/>
        </form>
        <a href="/register" th:href="@{/register}">Register</a>
    </body>
</html>
