<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Shops</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>Shops</div>
        <table>
            <thead>
                <tr>
                    <td>№</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody th:each="shop, stat : ${shops}">
                <tr>
                    <td th:text="${shop.id}">0</td>
                    <td th:text="${shop.name}">Item 0</td>
                    <td th:text="${shop.location}">Description 0</td>
                </tr>
            </tbody>
        </table>


        <a th:href="@{/shops/add}">Add Shop</a><br/>
        <a th:href="@{/}">Back</a>
    </body>
</html>
